body {
  font-family: "Poppins", sans-serif;
}
.menu-li {
  list-style: none;
  display: inline;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-right: 10px;
}
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.main-title {
  text-align: center;
  color: rgb(151, 61, 61);
  text-shadow: 2px 2px #b6b6b6;
}

header,
nav,
section,
footer {
  margin: 0px auto;
  text-align: center;
  width: 70vw;
}
nav {
  background-color: rgb(172, 236, 236);
  height: 30px;
  text-align: center;
}
.product-list {
  list-style-position: inside;
}

div {
  margin: 0px auto;
  text-align: center;
  width: 70vw;
  box-shadow: 0 0 50px rgb(172, 172, 172);
}
